<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" class="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex</pattern>
        </encoder>
    </appender>

    <root level="ERROR"><appender-ref ref="STDOUT"/></root>

    <!-- Hide Hibernate deprecation warnings -->
    <logger name="org.hibernate.orm.deprecation" level="ERROR" additivity="false"><appender-ref ref="STDOUT"/></logger>

    <!-- Uncomment next two lines to log out SQL queries (also look in application.yml under environments/development/dataSource) -->
    <!--<logger name="org.hibernate.SQL" level="DEBUG" additivity="false"><appender-ref ref="STDOUT"/></logger>-->
    <!--<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false"><appender-ref ref="STDOUT"/></logger>-->

    <!-- Uncomment next line to log spring security -->
    <!--<logger name="org.springframework.security" level="DEBUG" additivity="false"><appender-ref ref="STDOUT"/></logger>-->

    <!-- Uncomment next line to log inertia plugin -->
    <logger name="grails.plugin.inertia" level="DEBUG" additivity="false"><appender-ref ref="STDOUT"/></logger>

    <!-- Uncomment next two lines to log grails web mapping -->
    <!--<logger name="org.grails.web.mapping" level="DEBUG" additivity="false"><appender-ref ref="STDOUT"/></logger>-->
    <!--<logger name="grails.web.mapping" level="DEBUG" additivity="false"><appender-ref ref="STDOUT"/></logger>-->

    <!-- Uncomment next line to log Micronaut HTTP client traffic -->
    <!--<logger name="io.micronaut.http.client" level="TRACE" additivity="false"><appender-ref ref="STDOUT"/></logger>-->

</configuration>