name: Tests
on:
  pull_request: { branches: ['*'] }
  push: { branches: [master] }
permissions: { contents: read }
jobs:
  gradle:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with: { distribution: liberica, java-version: 17 }
      - uses: gradle/actions/setup-gradle@v5
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: 'https://gradle.com/terms-of-service'
          build-scan-terms-of-use-agree: 'yes'
      - run: ./gradlew check